<!doctype html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <title>Groupie Tracker</title>
    <link rel="icon" type="image/png" href="../static/icn/icn-STS.png"/>
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
    <header>
        <div class="container">
            <H2> Error 404 </H2> 
            <h3> Page not found !</h3> 
        </div>

        <div class="anim cercle">
            <a href="../" class="infobulle" aria-label="Return" alt="Return : Icone de redirection vers la page d'acceuil"> 
                <img src="../static/icn/icn-retour.png" class="">
            </a>
        </div>
    </header>

    <footer>
        <h5>Zone01 - Tony Quedeville : tquedevi</h5>
        <h5>Projet Groupie-Tracker : 26/09/2022</h5>
        <a href="https://zone01normandie.org/git/tquedevi/Groupie-Tracker" class="infobulle anim" target="_blank" aria-label="Gitea Zone01: Groupie-Tracker" alt="Lien vers le projet Gitea Groupie-Tracker">
            <div class="logo">
                <img src="../static/icn/icn-STS-blanc.png" width="25" height="25" alt="Logo STS">
            </div>
        </a>
    </footer>
</body>

</html>